{{- if has "dotnet" .Values.includePackages }}
apiVersion: cps1.tech/v1alpha2
kind: Package
metadata:
  name: dotnet
spec:
  label: Microsoft .NET
  icon:
    svg: |
      {{- .Files.Get "images/dotnet.svg" | nindent 6 }}
  properties:
    - name: version
      label: Version
      tip: .NET version
      kind: select
      required: true
      values: ["9.0", "8.0"]
      default: "9.0"
  setupScript: |
    {{- .Files.Get "scripts/packages/dotnet.sh" | nindent 4 }}
{{- end }}
