{{- if has "go" .Values.includePackages }}
apiVersion: cps1.tech/v1alpha2
kind: Package
metadata:
  name: go
spec:
  label: Go
  icon:
    svg: |
      {{- .Files.Get "images/go.svg" | nindent 6 }}
  properties:
    - name: version
      label: Version
      tip: Go version
      kind: select
      required: true
      values: ["1.24.4", "1.23.10"]
      default: "1.24.4"
  setupScript: |
    {{- .Files.Get "scripts/packages/go.sh" | nindent 4 }}

{{- end }}
