{{- if has "java" .Values.includePackages }}
apiVersion: cps1.tech/v1alpha2
kind: Package
metadata:
  name: java
spec:
  label: Java
  icon:
    svg: |
      {{- .Files.Get "images/java.svg" | nindent 6 }}
  properties:
    - name: version
      label: Version
      tip: Java version
      kind: select
      required: true
      values: ["21.0.7-tem", "17.0.15-tem"]
      default: "21.0.7-tem"
  setupScript: |
    {{- .Files.Get "scripts/packages/java.sh" | nindent 4 }}

{{- end }}
