{{- if has "java" .Values.includePackages }}
apiVersion: cps1.tech/v1alpha2
kind: Package
metadata:
  name: java
spec:
  label: Java
  icon:
    svg: |
      {{- .Files.Get "images/java.svg" | nindent 6 }}
  properties:
    - name: version
      label: Version
      tip: Java version
      kind: select
      required: true
      values: {{- toYaml .Values.packages.java.version.values | nindent 8 }}
      default: {{ .Values.packages.java.version.default }}
  setupScript: |
    {{- .Files.Get "scripts/packages/java.sh" | nindent 4 }}

{{- end }}
