{{- if has "kubectl" .Values.includePackages }}
apiVersion: cps1.tech/v1alpha2
kind: Package
metadata:
  name: kubectl
spec:
  label: kubectl
  icon:
    svg: |
      {{- .Files.Get "images/kubernetes.svg" | nindent 6 }}
  properties:
    - name: version
      label: kubectl version
      tip: |
        The full version specifier (e.g: v1.31.0). The kubectl version should
        be the same as the cluster it'll operate.
      kind: string
      default: {{ .Values.packages.kubectl.version.default }}
      required: true
  setupScript: |
    {{- .Files.Get "scripts/packages/kubectl.sh" | nindent 4 }}
{{- end }}
