{{- if has "nodejs" .Values.includePackages }}
apiVersion: cps1.tech/v1alpha2
kind: Package
metadata:
  name: nodejs
spec:
  label: Node.js
  icon:
    svg: |
      {{- .Files.Get "images/nodejs.svg" | nindent 6 }}
  properties:
    - name: version
      label: Version
      tip: NodeJS version
      kind: select
      required: true
      values: {{- toYaml .Values.packages.nodejs.version.values | nindent 8 }}
      default: {{ .Values.packages.nodejs.version.default }}
  setupScript: |
    {{- .Files.Get "scripts/packages/nodejs.sh" | nindent 4 }}
{{- end }}
