{{- if has "php" .Values.includePackages }}
apiVersion: cps1.tech/v1alpha2
kind: Package
metadata:
  name: php
spec:
  label: PHP
  icon:
    svg: |
      {{- .Files.Get "images/php.svg" | nindent 6 }}
  properties:
    - name: version
      label: Version
      tip: PHP version
      kind: select
      required: true
      values: {{- toYaml .Values.packages.php.version.values | nindent 8 }}
      default: {{ .Values.packages.php.version.default }}
  setupScript: |
    {{- .Files.Get "scripts/packages/php.sh" | nindent 4 }}

{{- end }}
