{{- if has "php" .Values.includePackages }}
apiVersion: cps1.tech/v1alpha2
kind: Package
metadata:
  name: php
spec:
  label: PHP
  icon:
    svg: |
      {{- .Files.Get "images/php.svg" | nindent 6 }}
  properties:
    - name: version
      label: Version
      tip: PHP version
      kind: select
      required: true
      values: ["8.4", "8.3", "8.2", "8.1"]
      default: "8.4"
  setupScript: |
    {{- .Files.Get "scripts/packages/php.sh" | nindent 4 }}

{{- end }}
