{{- if has "python" .Values.includePackages }}
apiVersion: cps1.tech/v1alpha2
kind: Package
metadata:
  name: python
spec:
  label: Python
  icon:
    svg: |
      {{- .Files.Get "images/python.svg" | nindent 6 }}
  properties:
    - name: version
      label: Version
      tip: Python version
      kind: select
      required: true
      values: ["3.13", "3.12", "3.11", "3.10"]
      default: "3.13"
    - name: package_manager
      label: Package Manager
      tip: If your project doesn't use pip
      kind: select
      required: false
      values: ["poetry", "pipenv", "uv"]
    - name: pip_packages
      label: Extra pip packages
      tip: |
        This will install extra pip packages in the workspace. You can use it
        to install Python based tools, or to start a workspace with some basic
        packages installed without package management tools (e.g install
        pandas to conduct some exploratory analysis).
      kind: tag
      required: false
  setupScript: |
    {{- .Files.Get "scripts/packages/python.sh" | nindent 4 }}

{{- end }}
