{{- if has "rust" .Values.includePackages }}
apiVersion: cps1.tech/v1alpha2
kind: Package
metadata:
  name: rust
spec:
  label: Rust
  icon:
    svg: |
      {{- .Files.Get "images/rust.svg" | nindent 6 }}
  properties: [ ]
  setupScript: |
    {{- .Files.Get "scripts/packages/rust.sh" | nindent 4 }}

{{- end }}
