image:
  repository: ghcr.io/cps-1/cps1
  pullPolicy: IfNotPresent

config:
  tls:
    enabled: true
    clusterIssuer: ""
  hostname: ""
  gateway:
    hostname: ""
    sshPort: 2222
    httpsPort: 443
  imageRegistry:
    pullHost: localhost:30000
    pushHost: cps1-registry-push:5000
  oAuthEnabled: false
  oAuthProvider: "gitlab" # Currently only "gitlab" and "github" are supported
  # Create a new GitLab application at Group > Settings > Applications
  gitlab:
    applicationId: <applicationId>
    groupId: "<groupId>" # Do note that this is a string
    secret: <secret>
    hostname: gitlab.com
  github:
    clientId: <clientId>
    orgName: <orgName>
    secret: <secret>
  # Annotations to include in the user namespaces service accounts
  # Example:
  # userNamespaceServiceAccountAnnotations:
  #   eks.amazonaws.com/role-arn: 'arn:aws:iam::1234567890:role/cps1-workspace'
  userNamespaceServiceAccountAnnotations: {}
  # license key - uncomment and set if needed
  # license:

gateway:
  service:
    annotations: {}

# Permissions to manage extra resources
# Example:
#
# permissions:
#   rules:
#     - apiGroups: ["crd.group.name"]
#       resources: ["crd", "crd/status"]
permissions:
  rules: []
