---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cps1-role
rules:
  - apiGroups: [cps1.tech]
    resources: [configs, users, users/status, templates, templates/status, templatesnapshots, templatesnapshots/status, templateworkspaces, templateworkspaces/status, packages, resourcesets, resourcesets/status, environments, environments/status, environmentsnapshots, environmentsnapshots/status, environmentworkspaces, environmentworkspaces/status]
    verbs: [get, watch, list, create, patch, update, delete]
  - apiGroups: [""]
    resources: [configmaps, secrets, namespaces, services, persistentvolumeclaims, pods, pods/log, pods/portforward, pods/exec, nodes, serviceaccounts]
    verbs: [get, watch, list, create, patch, update, delete]
  - apiGroups: ["networking.k8s.io"]
    resources: [ingresses]
    verbs: [get, watch, list, create, patch, update, delete]
  - apiGroups: ["batch"]
    resources: [jobs]
    verbs: [get, watch, list, create, patch, update, delete]
  - apiGroups: ["apps"]
    resources: [deployments]
    verbs: [get, watch, list, create, patch, update, delete]
  {{- range .Values.permissions.rules }}
  - apiGroups:
    {{- toYaml .apiGroups | nindent 4 }}
    resources:
    {{- toYaml .resources | nindent 4 }}
    verbs: [get, watch, list, create, patch, update, delete]
  {{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cps1-role
subjects:
  - kind: ServiceAccount
    name: default
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: cps1-role
  apiGroup: rbac.authorization.k8s.io

