{{- if has "java" .Values.includeTemplates }}
apiVersion: cps1.tech/v1alpha2
kind: Template
metadata:
  name: java-env
spec:
  description: Includes latest Java LTS version of Eclipse Temurin.
  icon:
    svg: |
      {{- .Files.Get "images/java.svg" | nindent 6 }}
  workspaces:
  - id: java-workspace
    baseImage: ghcr.io/cps-1/base-image:20250624
    packages:
    - inputData:
        version: 21.0.7-tem
      packageRef:
        name: java
        namespace: {{ .Release.Namespace }}
    ports: []
    repositories: []
    env: []
  resources: []
{{- end }}
