{{- if has "nodejs" .Values.includeTemplates }}
apiVersion: cps1.tech/v1alpha2
kind: Template
metadata:
  name: nodejs-env
spec:
  description: Includes latest NodeJS LTS along with other JavaScript tooling.
  icon:
    svg: |
      {{- .Files.Get "images/nodejs.svg" | nindent 6 }}
  workspaces:
  - id: nodejs-workspace
    baseImage: ghcr.io/cps-1/base-image:20250624
    packages:
    - inputData:
        version: v24
      packageRef:
        name: nodejs
        namespace: {{ .Release.Namespace }}
    ports: []
    repositories: []
    env: []
  resources: []
{{- end }}
