{{- if has "rust" .Values.includeTemplates }}
apiVersion: cps1.tech/v1alpha2
kind: Template
metadata:
  name: rust-env
spec:
  icon:
    svg: |
      {{- .Files.Get "images/rust.svg" | nindent 6 }}
  description: Includes latest Rust.
  workspaces:
  - id: rust-workspace
    baseImage: ghcr.io/cps-1/base-image:20250624
    packages:
    - packageRef:
        name: rust
        namespace: {{ .Release.Namespace }}
    ports: []
    repositories: []
    env: []
  resources: []
{{- end }}
