{{- if has "awsopensearch" .Values.includeResources }}
apiVersion: cps1.tech/v1alpha1
kind: ResourceSet
metadata:
  name: awsopensearch
spec:
  label: Amazon OpenSearch Service
  icon:
    svg: |
      {{- .Files.Get "images/awsopensearch.svg" | nindent 6 }}
  description: >-
    Amazon OpenSearch Service is a fully managed AWS service that simplifies the deployment, operation, and scaling of OpenSearch clusters.
  input:
    - name: engine_version
      label: Engine version
      kind: select
      required: true
      values: ['OpenSearch_3.3', 'Elasticsearch_7.0', 'Elasticsearch_6.8']
      default: 'OpenSearch_3.3'
    - name: master_username
      label: Master username
      tip: The name for the master user.
      kind: string
      required: true
      default: admin
    - name: master_password
      label: Master password
      tip: The password for the master user.
      kind: secret
      required: true
  output:
    - name: master_username
      source: ${input.master_username}
    - name: password
      source: ${input.master_password}
    - name: host
      source: ${oss.status.endpoints.vpc}
  resources:
    - id: oss
      template:
        apiVersion: opensearchservice.services.k8s.aws/v1alpha1
        kind: Domain
        metadata:
          labels:
            app.kubernetes.io/name: aws_open_search_service_domain
            app.kubernetes.io/instance: ${oss.name}
        spec:
          name: ${oss.name}
          engineVersion: ${input.engine_version}
          vpcOptions:
            securityGroupIDs: {{ .Values.resources.awsopensearch.vpcOptions.securityGroupIDs }}
            subnetIDs: {{ .Values.resources.awsopensearch.vpcOptions.subnetIDs }}
          clusterConfig:
            dedicatedMasterEnabled: false
            instanceCount: 1
            instanceType: {{ .Values.resources.awsopensearch.clusterConfig.instanceType }}
          ebsOptions:
            ebsEnabled: true
            volumeSize: {{ .Values.resources.awsopensearch.ebsOptions.volumeSize }}
            volumeType: gp3
          accessPolicies: '{"Version":"2012-10-17","Statement":[{"Effect":"Allow","Principal":{"AWS":"*"},"Action":"es:*","Resource":"arn:aws:es:*:*:domain/*"}]}'
          nodeToNodeEncryptionOptions:
            enabled: true
          encryptionAtRestOptions:
            enabled: true
          domainEndpointOptions:
            enforceHTTPS: true
          advancedSecurityOptions:
            enabled: true
            internalUserDatabaseEnabled: true
            masterUserOptions:
              masterUserName: ${input.master_username}
              masterUserPassword:
                namespace: ${secret.namespace}
                name: ${secret.name}
                key: password
    - id: secret
      template:
        apiVersion: v1
        kind: Secret
        stringData:
          password: ${input.master_password}
{{- end }}
