{{- if has "awsrdspostgres" .Values.includeResources }}
apiVersion: cps1.tech/v1alpha1
kind: ResourceSet
metadata:
  name: awsrdspostgres
spec:
  label: Amazon RDS for PostgreSQL
  icon:
    svg: |
      {{- .Files.Get "images/awsrdspostgres.svg" | nindent 6 }}
  description: >-
    Amazon RDS makes it easier to set up, operate, and scale PostgreSQL
    deployments on the cloud. Amazon RDS for PostgreSQL gives you access to the
    capabilities of the familiar PostgreSQL database engine.
  input:
    - name: username
      label: Username
      tip: The name for the first database supersuser.
      kind: string
      required: true
      default: postgres
    - name: password
      label: Password
      tip: The password for the first database supersuser.
      kind: secret
      required: true
      default: postgres
  output:
    - name: username
      source: ${input.username}
    - name: password
      source: ${input.password}
    - name: host
      source: ${rds.status.endpoint.address}
  resources:
    - id: rds
      template:
        apiVersion: rds.services.k8s.aws/v1alpha1
        kind: DBInstance
        metadata:
          labels:
            app.kubernetes.io/name: ${rds.name}-dbinstance
            app.kubernetes.io/instance: ${rds.name}
        spec:
          allocatedStorage: {{ .Values.resources.awsrdspostgres.allocatedStorage }}
          dbInstanceClass: {{ .Values.resources.awsrdspostgres.dbInstanceClass }}
          dbInstanceIdentifier: ${rds.name}
          engine: postgres
          engineVersion: "{{ .Values.resources.awsrdspostgres.engineVersion }}"
          dbSubnetGroupName: {{ .Values.resources.awsrdspostgres.dbSubnetGroupName }}
          vpcSecurityGroupIDs: {{ .Values.resources.awsrdspostgres.vpcSecurityGroupIDs }}
          masterUsername: ${input.username}
          masterUserPassword:
            namespace: ${secret.namespace}
            name: ${secret.name}
            key: password
    - id: secret
      template:
        apiVersion: v1
        kind: Secret
        stringData:
          password: ${input.password}
{{- end }}
