{{- if has "awsauroramysql" .Values.includeResources }}
apiVersion: cps1.tech/v1alpha1
kind: ResourceSet
metadata:
  name: awsauroramysql
spec:
  label: Amazon Aurora MySQL
  icon:
    svg:
      {{- .Files.Get "images/awsauroramysql.svg" | nindent 6 }}
  description: >-
    Amazon Aurora MySQL is a fully managed, MySQL-compatible, relational
    database engine that combines the speed and reliability of high-end
    commercial databases with the simplicity and cost-effectiveness of
    open-source databases.
  input:
    - name: username
      label: Username
      tip: The name for the first database supersuser.
      kind: string
      required: true
      default: mysql
    - name: database_name
      label: Database Name
      tip: The name of a database created on startup.
      kind: string
      required: true
      default: mysql
    - name: password
      label: Password
      tip: The password for the first database supersuser.
      kind: secret
      required: true
      default: mysql
  output:
    - name: username
      source: ${input.username}
    - name: password
      source: ${input.password}
    - name: host
      source: ${instance.status.endpoint.address}
  resources:
    - id: cluster
      template:
        apiVersion: rds.services.k8s.aws/v1alpha1
        kind: DBCluster
        metadata:
          labels:
            app.kubernetes.io/name: ${cluster.name}-dbinstance
            app.kubernetes.io/instance: ${cluster.name}
        spec:
          serverlessV2ScalingConfiguration:
            maxCapacity: 2
            minCapacity: 0.5
          dbClusterIdentifier: ${cluster.name}
          engine: aurora-mysql
          engineVersion: "{{ .Values.resources.awsauroramysql.engineVersion }}"
          dbSubnetGroupName: {{ .Values.resources.awsauroramysql.dbSubnetGroupName }}
          vpcSecurityGroupIDs: {{ .Values.resources.awsauroramysql.vpcSecurityGroupIDs }}
          databaseName: ${input.database_name}
          masterUsername: ${input.username}
          masterUserPassword:
            namespace: ${secret.namespace}
            name: ${secret.name}
            key: password
    - id: instance
      template:
        apiVersion: rds.services.k8s.aws/v1alpha1
        kind: DBInstance
        metadata:
          labels:
            app.kubernetes.io/name: ${instance.name}-dbinstance
            app.kubernetes.io/instance: ${instance.name}
        spec:
          dbInstanceClass: db.serverless
          dbInstanceIdentifier: ${instance.name}01
          dbClusterIdentifier: ${cluster.name}
          dbSubnetGroupName: {{ .Values.resources.awsauroramysql.dbSubnetGroupName }}
          engine: aurora-mysql
          engineVersion: "{{ .Values.resources.awsauroramysql.engineVersion }}"
    - id: secret
      template:
        apiVersion: v1
        kind: Secret
        stringData:
          password: ${input.password}
{{- end }}
