{{- if has "awssns" .Values.includeResources }}
apiVersion: cps1.tech/v1alpha1
kind: ResourceSet
metadata:
  name: awssns
spec:
  label: Amazon SNS Topic
  icon:
    svg: |
      {{- .Files.Get "images/awssns.svg" | nindent 6 }}
  description: >-
    Amazon Simple Notification Service (Amazon SNS) is a fully managed service
    that provides message delivery from publishers (producers) to subscribers
    (consumers).
  input: []
  output:
    - name: arn
      source: ${topic.status.ackResourceMetadata.arn}
  resources:
    - id: topic
      template:
        apiVersion: sns.services.k8s.aws/v1alpha1
        kind: Topic
        metadata:
          labels:
            app.kubernetes.io/name: ${topic.name}-dbinstance
            app.kubernetes.io/instance: ${topic.name}
        spec:
          name: ${topic.name}
{{- end }}
