{{- if has "mysql" .Values.includeResources }}
apiVersion: cps1.tech/v1alpha1
kind: ResourceSet
metadata:
  name: mysql
spec:
  label: MySQL
  icon:
    svg: |
      {{- .Files.Get "images/mysql.svg" | nindent 6 }}
  description: >-
    MySQL is an open-source database developed by Oracle. With its proven
    performance, reliability, and ease-of-use, MySQL has become the leading
    database choice for web-based applications, used by high-profile web properties
    including Facebook, Twitter, YouTube, Yahoo! and many more.
  input:
    - name: root_password
      label: Root password
      tip: The password for the database supersuser.
      kind: secret
      required: true
      default: root
    - name: version
      label: Version
      kind: select
      required: true
      values: ['8.0', '8.4', '9.5']
      default: '9.5'
    - name: minmemory
      label: Minimum Memory
      tip: |
        How much memory in Megabytes should be reserved for this MySQL
        instance
      kind: number
      required: true
      default: '512'
    - name: maxmemory
      label: Maximum Memory
      tip: |
        How much memory in Megabytes this MySQL instance can consume. If
        it extrapolates this value the database will restart.
      kind: number
      required: true
      default: '1024'
    - name: mincpu
      label: Minimum CPU
      tip: |
        How much CPU time in milliCPUs should be reserved for this MySQL
        instance
      kind: number
      required: true
      default: '200'
    - name: maxcpu
      label: Maximum CPU
      tip: |
        How much CPU time in milliCPUs this MySQL instance can consume. If
        it extrapolates this value the database process will experience CPU
        throttling.
      kind: number
      required: true
      default: '1000'
    - name: storage
      label: Storage
      tip: |
        How much storage in Gigabytes this MySQL will have available.
      kind: number
      required: true
      default: '5'
  output:
    - name: root_password
      source: ${input.root_password}
    - name: host
      source: ${svc.name}.${svc.namespace}.svc.cluster.local
  resources:
    - id: sts
      template:
        apiVersion: apps/v1
        kind: StatefulSet
        metadata:
          labels:
            app.kubernetes.io/name: ${sts.name}-statefulset
            app.kubernetes.io/instance: ${sts.name}
        spec:
          replicas: 1
          selector:
            matchLabels:
              app.kubernetes.io/name: ${sts.name}-statefulset
              app.kubernetes.io/instance: ${sts.name}
          template:
            metadata:
              labels:
                app.kubernetes.io/name: ${sts.name}-statefulset
                app.kubernetes.io/instance: ${sts.name}
            spec:
              containers:
                - image: mysql:${input.version}
                  name: mysql
                  resources:
                    requests:
                      memory: ${input.minmemory}Mi
                      cpu: ${input.mincpu}m
                    limits:
                      memory: ${input.maxmemory}Mi
                      cpu: ${input.maxcpu}m
                  env:
                    - name: MYSQL_ROOT_PASSWORD
                      value: ${input.root_password}
                  ports:
                    - containerPort: 3306
                      name: mysql
                      protocol: TCP
                  volumeMounts:
                    - mountPath: /var/lib/mysql
                      name: ${sts.name}-storage
              volumes:
                - name: ${sts.name}-storage
                  persistentVolumeClaim:
                    claimName: ${sts.name}-storage
          volumeClaimTemplates:
            - metadata:
                name: ${sts.name}-storage
              spec:
                accessModes: [ReadWriteOncePod]
                resources:
                  requests:
                    storage: ${input.storage}Gi
    - id: svc
      template:
        apiVersion: v1
        kind: Service
        spec:
          ports:
            - name: mysql
              port: 3306
              protocol: TCP
              targetPort: 3306
          selector:
            app.kubernetes.io/name: ${sts.name}-statefulset
            app.kubernetes.io/instance: ${sts.name}
{{- end }}
