{{- if has "opensearch" .Values.includeResources }}
apiVersion: cps1.tech/v1alpha1
kind: ResourceSet
metadata:
  name: opensearch
spec:
  description: OpenSearch is an open source, enterprise-grade search and observability suite that brings order to unstructured data at scale.
  icon:
    svg: |
      {{- .Files.Get "images/opensearch.svg" | nindent 6 }}
  input:
  - default: admin
    kind: string
    label: Admin password
    name: admin_password
    required: true
    tip: Custom password for the admin user.
  - default: "3"
    kind: select
    label: Version
    name: version
    required: true
    values:
    - "3"
    - "2"
  - default: "1024"
    kind: number
    label: Minimum Memory
    name: minmemory
    required: true
    tip: |
      How much memory in Megabytes should be reserved for this OpenSearch
      instance
  - default: "2048"
    kind: number
    label: Maximum Memory
    name: maxmemory
    required: true
    tip: |
      How much memory in Megabytes this OpenSearch instance can consume. If
      it extrapolates this value the database will restart.
  - default: "200"
    kind: number
    label: Minimum CPU
    name: mincpu
    required: true
    tip: |
      How much CPU time in milliCPUs should be reserved for this PostgreSQL
      instance
  - default: "1000"
    kind: number
    label: Maximum CPU
    name: maxcpu
    required: true
    tip: |
      How much CPU time in milliCPUs this PostgreSQL instance can consume. If
      it extrapolates this value the database process will experience CPU
      throttling.
  - default: "5"
    kind: number
    label: Storage
    name: storage
    required: true
    tip: |
      How much storage in Gigabytes this PostgreSQL will have available.
  label: OpenSearch
  output:
  - name: admin_password
    source: ${input.admin_password}
  - name: host
    source: ${svc.name}.${svc.namespace}.svc.cluster.local
  resources:
  - id: sts
    template:
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        labels:
          app.kubernetes.io/instance: ${sts.name}
          app.kubernetes.io/name: ${sts.name}-statefulset
      spec:
        replicas: 1
        selector:
          matchLabels:
            app.kubernetes.io/instance: ${sts.name}
            app.kubernetes.io/name: ${sts.name}-statefulset
        template:
          metadata:
            labels:
              app.kubernetes.io/instance: ${sts.name}
              app.kubernetes.io/name: ${sts.name}-statefulset
          spec:
            containers:
            - env:
              - name: OPENSEARCH_INITIAL_ADMIN_PASSWORD
                value: ${input.admin_password}
              - name: discovery.type
                value: single-node
              image: opensearchproject/opensearch:${input.version}
              name: postgres
              ports:
              - containerPort: 9200
                name: opensearch
                protocol: TCP
              - containerPort: 9600
                name: opensearch-perf
                protocol: TCP
              resources:
                limits:
                  cpu: ${input.maxcpu}m
                  memory: ${input.maxmemory}Mi
                requests:
                  cpu: ${input.mincpu}m
                  memory: ${input.minmemory}Mi
              volumeMounts:
              - mountPath: /usr/share/opensearch/data
                name: ${sts.name}-storage
            volumes:
            - name: ${sts.name}-storage
              persistentVolumeClaim:
                claimName: ${sts.name}-storage
        volumeClaimTemplates:
        - metadata:
            name: ${sts.name}-storage
          spec:
            accessModes:
            - ReadWriteOncePod
            resources:
              requests:
                storage: ${input.storage}Gi
  - id: svc
    template:
      apiVersion: v1
      kind: Service
      metadata: {}
      spec:
        ports:
        - name: opensearch
          port: 9200
          protocol: TCP
          targetPort: 9200
        - name: opensearch-perf
          port: 9600
          protocol: TCP
          targetPort: 9600
        selector:
          app.kubernetes.io/instance: ${sts.name}
          app.kubernetes.io/name: ${sts.name}-statefulset
{{- end }}
