{{- if has "postgres" .Values.includeResources }}
apiVersion: cps1.tech/v1alpha1
kind: ResourceSet
metadata:
  name: postgres
spec:
  label: PostgreSQL
  icon:
    svg: |
      {{- .Files.Get "images/postgres.svg" | nindent 6 }}
  description: >-
    PostgreSQL, also known as Postgres, is a free and open-source
    relational database management system (RDBMS) emphasizing extensibility and
    SQL compliance.
  input:
    - name: username
      label: Username
      tip: The name for the first database supersuser.
      kind: string
      required: true
      default: postgres
    - name: password
      label: Password
      tip: The password for the first database supersuser.
      kind: secret
      required: true
      default: postgres
    - name: version
      label: Version
      kind: select
      required: true
      values: ['13.16', '14.13', '15.8', '16.4']
      default: '16.4'
    - name: minmemory
      label: Minimum Memory
      tip: |
        How much memory in Megabytes should be reserved for this PostgreSQL
        instance
      kind: number
      required: true
      default: '512'
    - name: maxmemory
      label: Maximum Memory
      tip: |
        How much memory in Megabytes this PostgreSQL instance can consume. If
        it extrapolates this value the database will restart.
      kind: number
      required: true
      default: '1024'
    - name: mincpu
      label: Minimum CPU
      tip: |
        How much CPU time in milliCPUs should be reserved for this PostgreSQL
        instance
      kind: number
      required: true
      default: '200'
    - name: maxcpu
      label: Maximum CPU
      tip: |
        How much CPU time in milliCPUs this PostgreSQL instance can consume. If
        it extrapolates this value the database process will experience CPU
        throttling.
      kind: number
      required: true
      default: '1000'
    - name: storage
      label: Storage
      tip: |
        How much storage in Gigabytes this PostgreSQL will have available.
      kind: number
      required: true
      default: '5'
  output:
    - name: username
      source: ${input.username}
    - name: password
      source: ${input.password}
    - name: host
      source: ${svc.name}.${svc.namespace}.svc.cluster.local
  resources:
    - id: sts
      template:
        apiVersion: apps/v1
        kind: StatefulSet
        metadata:
          labels:
            app.kubernetes.io/name: ${sts.name}-statefulset
            app.kubernetes.io/instance: ${sts.name}
        spec:
          replicas: 1
          selector:
            matchLabels:
              app.kubernetes.io/name: ${sts.name}-statefulset
              app.kubernetes.io/instance: ${sts.name}
          template:
            metadata:
              labels:
                app.kubernetes.io/name: ${sts.name}-statefulset
                app.kubernetes.io/instance: ${sts.name}
            spec:
              containers:
                - image: postgres:${input.version}-bookworm
                  name: postgres
                  resources:
                    requests:
                      memory: ${input.minmemory}Mi
                      cpu: ${input.mincpu}m
                    limits:
                      memory: ${input.maxmemory}Mi
                      cpu: ${input.maxcpu}m
                  env:
                    - name: PGDATA
                      value: /var/lib/postgresql/data/pgdata
                    - name: POSTGRES_PASSWORD
                      value: ${input.password}
                    - name: POSTGRES_USER
                      value: ${input.username}
                  ports:
                    - containerPort: 5432
                      name: postgresql
                      protocol: TCP
                  volumeMounts:
                    - mountPath: /var/lib/postgresql/data
                      name: ${sts.name}-storage
              volumes:
                - name: ${sts.name}-storage
                  persistentVolumeClaim:
                    claimName: ${sts.name}-storage
          volumeClaimTemplates:
            - metadata:
                name: ${sts.name}-storage
              spec:
                accessModes: [ReadWriteOncePod]
                resources:
                  requests:
                    storage: ${input.storage}Gi
    - id: svc
      template:
        apiVersion: v1
        kind: Service
        spec:
          ports:
            - name: postgres
              port: 5432
              protocol: TCP
              targetPort: 5432
          selector:
            app.kubernetes.io/name: ${sts.name}-statefulset
            app.kubernetes.io/instance: ${sts.name}
{{- end }}
