{{- if has "go" .Values.includePackages }}
apiVersion: cps1.tech/v1alpha2
kind: Package
metadata:
  name: go
spec:
  label: Go
  icon:
    svg: |
      {{- .Files.Get "images/go.svg" | nindent 6 }}
  properties:
    - name: version
      label: Version
      tip: Go version
      kind: select
      required: true
      values: {{- toYaml .Values.packages.go.version.values | nindent 8 }}
      default: {{ .Values.packages.go.version.default }}
  setupScript: |
    {{- .Files.Get "scripts/packages/go.sh" | nindent 4 }}

{{- end }}
